.header {
    background-color: var(--primary-color);
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo {
    font-size: 45px;
    padding: 0 40px;
    line-height: 80px;
    font-family: tipografia;
    color: var(--text-color-inverse);
}

/*.navbar-link*/ 
.navbar a{
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

/*.nav-menu-item*/
.nav-menu li {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

/*.nav-menu-link*/
.nav-menu a{
    font-size: 23px;
    color: var(--text-color-inverse);
    padding: 9px;
    border-radius: 0 10%;
}

/*nav-menu-link-active isn't in index*/
.nav-menu a:hover,
a.nav-menu-link-active {
    color: var(--text-color);
    background-color: var(--theme-color);
    transition: 0.5s;
}

.nav-toggle {
    color: var(--text-color-inverse);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}